body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
button:active,
button:focus {
  outline: none;
}

button {
  padding: 8px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #d8a903;
}

.container {
  width: 1200px;
  margin: 20px auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 0
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 0
}

.header {
  height: 70px;
  background-color: #d8a903;
  padding: 0 20px;
  font-size: 2em;
  font-weight: bold;
  line-height: 70px
}

.author {
  cursor: pointer;
}

.card {
  width: 40%;
  display: flex;
  gap: 0 20px;
  border: 1px solid #000;
}

.card-title {
  font-size: 1.17em;
  font-weight: bold;
}

.album {
  position: relative;
}

.album-card {
  margin-top: 20px;
  text-align: center;
}

.album-card__title {
  font-size: 1.17em;
  font-weight: bold;
}

.modal {
  position: absolute;
  width: 90%;
  height: 90%;
  padding-top: 20px;
  background-color: #fff;
  top: 10px;
  left: 100px;
  text-align: center;
  z-index: 2;
}

.modal > .flex-column > .link {
  align-self: flex-end;
  margin-right: 20px;
}

.slider {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

.slider > img, button {
  cursor: pointer;
}

.slider > button {
  max-height: 40px;
}

.slider-number {
  margin-top: 10px;
}

.link {
  max-width: 200px;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 14px;

}

.link:hover {
  cursor: pointer;
  background-color: #d8a903;
}

.preloader-5 {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-5-spin 2s linear infinite;
}
.preloader-5:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BFE2FF;
  animation: preloader-5-spin 3s linear infinite;
}
.preloader-5:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-5-spin 1.5s linear infinite;
}
@keyframes preloader-5-spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
